<a href="https://colab.research.google.com/github/lakshmigitapp/Test1/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
animal=['Zebra',155.55,110,True]
animal

['Zebra', 155.55, 110, True]

In [4]:
age=[25,26,25,27,26]
age

[25, 26, 25, 27, 26]

In [5]:
lst=[]
lst

[]

In [15]:
'''accessing elements'''

num=[10,20,30,40,50,60]
num
num[0]
num[2] # third element

# [startindex:stopindex:step]

num[2:5]
num[:2] #first two element
num[-2:]# last two element


num=[100]+num
num


num=[60,70]+num
num

num=num+[90,80]
num

[60, 70, 100, 10, 20, 30, 40, 50, 60, 90, 80]

In [18]:
# looping in list
#while  or for loop

animals=['Zebra','tiger','lion','jackal','kangaroo']
animals
i=0
while i<len(animals):
  print(animals[i])
  i+=1

#using more convenient for loop

for a in animals:
  print(a)

# enumerate function :- we can track the index of the element

Zebra
tiger
lion
jackal
kangaroo
Zebra
tiger
lion
jackal
kangaroo

In [19]:
animals=['Zebra','tiger','lion','jackal','kangaroo']
for index,a in enumerate(animals):
  print(index,a)

0 Zebra
1 tiger
2 lion
3 jackal
4 kangaroo

In [27]:
#basic list operations
#mutablity -- unlike strings,list are mutable(changable)
animals=['Zebra','tiger','lion','jackal','kangaroo']
ages=[25,26,25,27,26,28,25]


animals[2]
ages[5]
ages[2:5]=[24,25,32]  # updated
ages[2:5]=[]          # removed
ages

[25, 26, 28, 25]

In [28]:
#concatenation   # updates in same list
lst=[12,15,13,23,22,16,17]
lst=lst+[33,44,55]
lst

[12, 15, 13, 23, 22, 16, 17, 33, 44, 55]

In [30]:
#merging --   create a new list
s=[10,20,30]
t=[100,200,300]
s=s+t
s

[10, 20, 30, 100, 200, 300]

In [32]:
list('Africa')

['A', 'f', 'r', 'i', 'c', 'a']

In [35]:
#Aliasing- On assigning one list to another,both refer to the same list.
#changing one changes the other.this assignment also known as shallow copy or aliasing

lst1=[10,20,30,40,50]
lst2=lst1  # lst2 refers to same list as list1
print(lst1)
print(lst2)
lst1[0]=100
print(lst1)
print(lst2)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[100, 20, 30, 40, 50]
[100, 20, 30, 40, 50]

In [40]:
#searching -- in
lst=['a','e','i','o','u']
res='z' in lst
res

False

In [43]:
#identity  -- is
lst1=[10,20,30,40,50]
lst2=[10,20,30,40,50]
lst3=lst1
print(lst1 is lst2)
print(lst1 is lst3)
print(lst1 is not lst2)

False
True
True

In [44]:
#comparision
a=[1,2,3,4]
b=[1,2,5]
print(a<b)

True

In [45]:
lst=[]
if not lst:
  print('empty list')

empty list